
    <h1>{{title}}</h1>
    {{#if price}}
      <h2>Price: {{price}}€</h2>
    {{else}}
      <h2>Price upon request</h2>
    {{/if}}
    <h2>Recommended drink: {{recommendedDrink}}</h2>
    <hr />
    <div>
      <h2>Ingredients:</h2>
      <ul>
        {{#each ingredients}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
    </div>
    <img src="/images/{{imageFile}}" alt="image not found" />

    {{> banner}}
